* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box; /* 确保元素的总宽度包括内边距和边框 */  
}  

dialog{
    border-radius: 10px;
    border: none;
    padding: 20px 40px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 3px 18px #00000020;

}

a{
    text-decoration: none;
    color: #000;
}

button[value="blue"]{
    font-size: 15px;
    color: #fff;
    background-color: #0084ff;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}

button:hover[value="blue"]{
    background-color: #45a5ffe3;
}

button:active[value="blue"]{
    background-color: #1260a4;
}

body{
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-size: cover;
}

.menu{
    
    background-image:linear-gradient(120deg,#fdfbfb ,#ebedee 100%);
    box-shadow: 0 3px 18px #00000020;
    backdrop-filter: blur(30px);
    color: #fff;  
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.menu ul{
    list-style: none; 
    margin: 0; 
    margin: 10px;  
    display: flex;  
    justify-content: space-around; 
}
.menu a{
    color: black;
    font-size:18px;
    text-decoration: none; 
}
.menu a:hover{
    color: #0066CC;
}

.menu a[value="checked"]{
    color: #d60404d7;
}
