@import url(base.css);
* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box; /* 确保元素的总宽度包括内边距和边框 */  
}  
  
body{
    background-image: none;
}

.sidebar{
    position: absolute;
    /* padding-top: 70px; */
    height: calc(100vh - 50px);
    /* width: 140px; */
    width: fit-content;
    text-align: center;  
    background-color: #efefef;
    
}

.sidebar-tab li{
    cursor: pointer;
    padding: 15px 30px;
}

.sidebar-tab li:hover{
    background-color: #ececec;
}

.sidebar-tab li:hover{
    background-color: #cacaca;
}

.sidebar #personal-info,.sidebar p{
    vertical-align: middle; 
    max-width: 100%;  
    margin-bottom:40px;
}

.content{
    margin-top: calc(10px + 60px + 10px);
    width: 100vw;
    padding-top: 90px;
    position: absolute;

    display: flex;
    justify-content: center; 
    align-items: center;
}

.main-content{
    position: absolute;
    margin-top: 50px;
    margin-left: 140px;
    /* width: calc(100vw - 140px); */
    background-color: white;
    height: calc(100vh - 75px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content .button-div{
    margin: 100px 200px;
}

.button-div .row{
    width: 100%;
    margin-bottom: 80px;
    
}


.button-div .button-with-text{
    display: inline-block;
    margin-right: 100px;
    padding: 10px;
    max-width: 200px;
    max-height: 200px;
    min-width: 130px;
    min-height: 130px;
    background-color: #f6f6f6;
    box-shadow: 0 3px 18px #00000020;
    border-radius: 10px;
    text-align: center;

    cursor: pointer;
}

.button-div .button-with-text:hover{
    background-color: #ececec;
    box-shadow: 0 8px 25px #00000020;
    
}

.button-div .button-with-text:active{
    background-color: #cecece;
    
}
.button-div .button-with-text img{
    vertical-align: middle;
}
#footer{
    display: flex;
    justify-content: center; 
    align-items: center;

    box-sizing: border-box;
    padding: 20px 10px;

    width: 100%;
    height: fit-content;


    background-color: #000;
    /* min-height: fit-content; */
    position: absolute; 
    bottom: 0;

    position: fixed;

}

#footer>p{
    color: white;
    font-size: 15px;
}

#error #icon-text{
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#error #content{
    margin: 10px 20px;
}

#error #title{
    font-size: 25px;
}

