@import url(../base.css);
body{
    background-image: url(../img/main.png);
}
.content{
    margin-top: calc(10px + 60px + 10px);
    width: 100vw;
    padding-top: 90px;
    position: absolute;

    display: flex;
    justify-content: center; 
    align-items: center;
}

.reg{
    backdrop-filter: blur(30px);
    padding:40px;
    border-radius: 10px;
}

.reg span#title{
    color: #fff;
    font-size: 30px;
}

.reg input[type="text"],.reg input[type="password"]{
    
    width:100%;

    margin-top: 10px;
    height: 30px;

    border: 2px solid #a6a3a3;
    border-radius: 5px;
    outline: none;

    color: #ebedee;
    
    backdrop-filter: blur(10px) brightness(90%);
    background-color: rgba(255, 255, 255, 0.1);

    font-size: 20px;

    padding: 5px;

    /*修改输入框中左侧的图标*/
    background-repeat: no-repeat;
    background-position: 5px 7px;
    background-size: 15px;
}

.reg input[type="text"]:focus,.reg input[type="password"]:focus{
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.reg input[type="text"]::placeholder,.reg input[type="password"]::placeholder{
    color: #fff;
}

.reg input[type="checkbox"]{
    color: white;
    background-color: #0084ff;
}

.reg #id{
    background-image: url(svg/account.svg);
}

.reg #psw   {
    background-image: url(svg/password.svg);
}

.reg form{
    margin-bottom: 10px;
}
.reg a#forget-psw{
    float: right;
    text-decoration: none;
    color: #0066CC;
    cursor: pointer;
}

.reg a#forget-psw:hover{
    color: #084787;
}

.reg button#submit{
    margin-top: 10px;
    width: 100%;
    height: 40px;
}

.reg button#submit:hover{
    background-color: #45a5ffe3;
}

.reg button#submit:active{
    background-color: #1260a4;
}

.reg label#auto-login-text {
    padding-left: 5px;
    color: white;
}

#footer{
    display: flex;
    justify-content: center; 
    align-items: center;

    box-sizing: border-box;
    padding: 20px 10px;

    width: 100%;
    height: fit-content;


    background-color: #000;
    /* min-height: fit-content; */
    border-radius: 10px;
    position: absolute; 
    bottom: 0;

}

#footer>p{
    color: white;
}

#error #ok{
    padding: 8px 10px;
    float: right;

}

#error #icon-text{
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#error #content{
    margin: 10px 20px;
}

#error #title{
    font-size: 25px;
}